{{ groupService.formGroupSoumis$ | async }}
<button (click)="navigateToHome()">Go to Home</button>
<app-error-list></app-error-list>
@if(apiError().length > 0){ @for(error of apiError();track error.code){
<div class="error-message">
  <strong>{{ error.propertyName }}:</strong> {{ error.message }} (Code:
  {{ error.code }})
</div>
} }

<button (click)="disable()">disable</button>
<div class="container">
  <form [formGroup]="form">
    <label for="myInput">My Input:</label>
    <br />
    <evc-input label="name" inputWidth="w-25" formControlName="name" />
    <evc-input
      label="lastName"
      inputWidth="w-25"
      formControlName="lastName"
      [attr.formcontrolname]="'lastName'"
    />
    <evc-input
      label="email"
      inputWidth="w-25"
      [required]="false"
      labelFormat="email@email.com"
      formControlName="email"
    />
    <evc-input
      label="phoneNumber"
      inputWidth="w-25"
      type="tel"
      pipeArg="FR"
      labelFormat="xxx-xxxx-xxxx"
      formControlName="phoneNumber"
    />
    <evc-input
      label="money"
      inputWidth="w-25"
      type="montant"
      pipeArg="2"
      formControlName="money"
      withIcon="$"
    />
    <evc-user-address [formGroupParent]="form" [model]="model.address" />

    <button type="submit" (click)="submit()">Submit</button>
  </form>
</div>
